<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mymyproject02/src/ca/fscj/p0/view/CustomerView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.fscj.p0.view.CustomerView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mymyproject02"/>
</launchConfiguration>
